form {
  margin-top: 60px;
  width: 50%;
}
.btn{
  color: var(--primary-color);
  border-radius: 5px;
}

/*img{
  border-radius: 6px;
  padding: 25px 20px;
  width: 100%;
  height: 500px;
  object-fit: cover;
}*/
